/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/****************************** NAV BAR ******************************/
 #logo {
  padding-left: 10px;
}

.navbar-brand{
  width: 45px;
  height: auto;
}

/****************************** RATING ******************************/
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

/****************************** HOME PAGE BUTTONS ******************************/
#login {
  border-radius: 5px;
  font-family: avenir, sans-serif;
  color: #82514a;
  border-color: #82514a;

    &:hover {
    background-color: #82514a;
    color: white;
    font-weight: bold;
  }
}

#signup {
  border-radius: 5px;
  font-family: avenir, sans-serif;
  color: #ff4817;
  border-color: #ff4817;

  &:hover {
    background-color: #ff4817;
    color: white;
    font-weight: bold;
  }
}


/****************************** HOME PAGE ANIMATION ******************************/
#appName {
  background-image: url("appname.svg");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: center;
  width: 100%;
  height: auto;

  display: inline-block;
  position: relative;
  opacity: 0;
  animation: titleAnimation 1s linear forwards;
  -webkit-animation: titleAnimation 1s linear forwards;
  -moz-animation: titleAnimation 1s linear forwards;
  -o-animation: titleAnimation 1s linear forwards;
  -ms-animation: titleAnimation 1s linear forwards;
}

#tagline {
  font-family: avenir, sans-serif;
  font-size: 13px;
  color: #82514a;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-top: 150px;
  text-align: center;
}

@keyframes titleAnimation {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}


/****************************** SHOW RATINGS ******************************/
.stars {
  max-width: 30%;
  height: auto;
  display: flex;
}

.stars img {
  max-width: 15%;
  height: auto;
  padding-right: 5px;
}

/****************************** SIGN UP PAGE ******************************/
///// title /////
.title {
  width: 150px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

.graphic {
  width: 170px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}


/****************************** LOG IN PAGE ******************************/
small{
  color:#FC0107;
}

.login-title {
  width: 130px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

.login-graphic {
  width: 320px;
  height: auto;
  margin: 0 auto;
  padding-top: 15px;
}

.login-field {
  font-family: avenir, sans-serif;
  margin: 0 auto;
  padding-left: 470px;
  padding-top: 40px;
}

.rem-me {
  font-family: avenir, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  padding-left: 96px;
}

#login-btn {
  border-radius: 10px;
  font-family: avenir, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 30px;
  max-width: 5%;
}

.links {
  font-family: avenir, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 30%;
  text-align: left;
  padding-top: 2px;
  padding-left: 200px;
}


//My Places
.create-new {
  font-family: avenir, sans-serif;
  font-size: 20px;
  color: rgb(165, 165, 165);
  text-align: center;
  padding-top: 50px;
}

//Places went
.places-went-title {
  width: 270px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}


/****************************** LOGIN FORM ******************************/
///// form (overall) /////
.label-field {
  display: flex;
}

.form-label {
  font-family: avenir, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #82514a;
  padding-right: 10px;
  padding-top: 2px;
}

.form-field {
  font-family: avenir, sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
}

///// username /////
.first-field {
  font-family: avenir, sans-serif;
  margin: 0 auto;
  padding-left: 590px;
  padding-top: 40px;
}

///// email /////
.second-field {
  font-family: avenir, sans-serif;
  margin: 0 auto;
  padding-left: 624px;
}

///// password /////
.third-field {
  font-family: avenir, sans-serif;
  margin: 0 auto;
  padding-left: 595px;
}

///// password (confirm) /////
.fourth-field {
  font-family: avenir, sans-serif;
  margin: 0 auto;
  padding-left: 496px;
}

///// password instruction /////
.min-password {
  font-family: avenir, sans-serif;
  font-size: 16px;
  color: grey;
  padding-left: 10px;
  padding-top: 2px;
}

///// signup-btn /////
.signup-btn {
  border-radius: 10px;
  font-family: avenir, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 5%;
}

.nav-link {
  font-family: avenir, sans-serif;
  font-size: 18px;
}


.text-center {
  font-family: avenir, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #82514a;
  text-align: center;
  padding-top: 50px;
}

/****************************** NEW POST FORM ******************************/
input[type='checkbox'] {
  margin: 5px;
}

.name-field {
  display: flex;
  max-width: 16%;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
}

.address-field {
  display: flex;
  max-width: 18.5%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
}

.description-field {
  display: flex;
  max-width: 22%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
}

.review-field, .upload-field, .rating-field {
  display: flex;
  max-width: 17.5%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
}

.rate-field {
  padding-top: 5px;
  padding-left: 3px;
}

.tags-field {
  display: flex;
  max-width: 28%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 90px;
}

.save-place {
  font-family: avenir, sans-serif;
  font-size: 18px;
  font-weight: bold;

  padding-top: 20px;
  padding-bottom: 50px;

  margin: 0 auto;
  max-width: 10%;
}

.tags {
  padding-left: 40px;
}


/****************************** IMPORT BOOTSTRAP ******************************/
 @import "bootstrap";


/****************************** VIEW ONE PLACE ******************************/
#show-container {
  padding-top: 30px;
}

.show-image {
  border-radius: 20px;
}

.place-title {
  font-family: avenir, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #82514a;
}

.rating-title {
  font-family: avenir, sans-serif;
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
  color: #82514a;
}

#left-col-padding {
  padding-right: 50px;
}

.user-name {
  color: #ff4817;

  &:hover {
    color: #ff4817;
    font-weight: bold;
    text-decoration: none;
  }
}

.address-map {
  color: #ff4817;
}

 #map {
    height:500px;
    width:100%;
 }

 #location {
  display: none;
 }

 #expand {
  margin: 10px;
 }

 #place_review, #place_desc{
  height:100px;
  width:250px;
 }


#card-container {
  max-width: 90%;
  margin: 0 auto;
}

#appName {
  background-image: asset-url("appname.svg");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.post-review {
  border-radius: 10px;
  font-family: avenir, sans-serif;
  font-size: 16px;
  float: left;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 310px;
  max-width: 5%;
}

/****************************** PENDING APPROVAL ******************************/
.pending-title {
  width: 330px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

.approve {
  max-width: 50%;
  height: auto;
  padding-right: 20px;
}

.approve-delete {
  max-width: 50%;
  height: auto;
  display: flex;
}

#pending-card-container {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

.pending-card-columns {
  max-width: 30%;
  float: left;
}

.pending-btns {
  border-radius: 5px;
  font-family: avenir, sans-serif;
  font-size: 18px;
  color: grey;

  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: grey;
  }
}


/****************************** TAG ******************************/
#tagName{
  padding-left: 100px;
}


/****************************** CARD ******************************/
.card-title {
  font-family: avenir, sans-serif;
  font-size: 16px;
  color: grey;
  text-align: left;
  padding-top: 10px;
}

 .card-columns {
    @include media-breakpoint-only(md) {
      column-count: 2;
    }
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
  }

  .card-img {
    border-radius: 25px;
  }

  .card  {
    border: none;
    padding-bottom: 10px;
    max-width: 95%;


    &:hover {;
      z-index: 1;
      opacity: 0.5;
    }
  }


  /****************************** FIELD W ERRORS ******************************/
  $secondary-color : red;

  .field_with_errors {
    input {
        border: 0;
        border-radius: 10px;
        border: 1px solid $secondary-color;
    }
  }
