<h1 class = "text-center">Places you went!</h1>

<% if !@places.exists? %>
<h1> CREATE A NEW POSTING TO VIEW!<h1>
<% else %>
<div class="row d-flex justify-content-around p-4 text-center">
<div class="card-columns">
<% @places.each do |place| %>
    <div class="mb-4 card border-warning">
        <div class="border-warning rounded-2">
            <%= cl_image_tag((place.img_url), class: "card-img-top") %>
            <div class="card-body">
                <h5 class="card-title"><%=place.name%></h5>
                <%= link_to 'View', place_path(place), class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
</div>
</div>
<% end %>



