<div class="places-went-title"><img src="/places-explored.svg"></div>


<div class="row d-flex justify-content-around p-4 text-center">
<% if !@places.exists? %>
<h1 class="create-new"> Create a new post to view!<h1>

<% else %>
<div id="card-container" class="row d-flex justify-content-around p-4 text-center">
<div class="card-columns">
    <% @places.each do |place| %>
        <a href="/places/<%= place.id %>">
            <div class="card bg-transparent text-white">
                <img class="card-img" src<%= cl_image_tag(place.img_url) %>
                <h5 class="card-title d-flex"><%=place.name%></h5>
            </div>
        </a>
    <% end %>
</div>
</div>
<% end %>



