
<h1 class = "text-center"><%= current_user[:username] %> favourites</h1>



<div class="row d-flex justify-content-around p-4 text-center">
    <% if !@favourites.exists? %>
    <h1> Favourite your first post to view it here! </h1>
    <% else %>
        <div class="card-columns">
            <% @favourites.each do |favourite| %>
                <a href="<%=place_path(favourite.place)%>">
                    <div class="card bg-transparent text-white">
                    <img class="card-img" src<%= cl_image_tag(favourite.place.img_url) %>
                    <h5 class="card-title d-flex"><%=favourite.place.name%></h5>
                    </div>
                </a>
            <% end %>
        </div>
    <% end %>
</div>
