<style>
body {
    background: url('/landingbg.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
</style>
<br>
<br>
<br>
<br>
    <div id="appName">
        <h3 id="tagline">The world is your neighbourhood</h3>
    </div>
