<style>
body {
    background: url('/landingbg.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
</style>

    <div id = "appName">
        <h3>tagline</h3>
    </div>
