<style>
body {
    background: url('https://images.unsplash.com/photo-1506739407668-75572f6229a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
</style>

    <div id = "appName">
        <h3>The world is your neighbourhood</h3>
    </div>
