<h1>Hello welcome <%= current_user[:username] %>!</h1>

<div class="row d-flex justify-content-around p-4">
<% @places.each do |place| %>
    <div class="mb-4">
        <div class="card" style="width: 18rem;">
            <%= cl_image_tag((place.img_url), class: "card-img-top") %>
            <div class="card-body">
                <h5 class="card-title"><%=place.name%></h5>
                <%= link_to 'View', place_path(place), class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
</div>
